[alias]
  alias = config --get-regexp alias
  branchdiff = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' origin/master..HEAD
  branches = map-branches -vv
  cleanup = "!git branch --merged | grep -v '*' | grep -v '\\<clean\\>' | xargs -n 1 git branch -d"
  cm = commit -m
  f = "!git ls-files | grep -i"
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lastcommit = rev-parse HEAD
  ll = log --stat --abbrev-commit
  p = pull --no-edit
  s = status -sb

[color]
  diff = auto
  interactive = auto
  ui = auto # covers diff = true, status = auto, branch = auto

[core]
  excludesfile = ~/.gitignore

[credential]
  helper = corpsso

[diff]
  tool = vimdiff
#  external = /usr/local/google/home/vakh/rc/common/diff.py

[help]
  autocorrect = 1

[push]
  default = simple

[user]
  email = git.bin@khaneja.org
  name = Varun Khaneja
  signingkey = 0F5BD13AF968F800

[http]
  cookiefile = ~/.gitcookies # Needed for Chromium development
