[alias]
  alias = config --get-regexp alias
  branches = map-branches -vv
  cm = commit -m
  f = "!git ls-files | grep -i"
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lastcommit = rev-parse HEAD
  ll = log --stat --abbrev-commit
  s = status -sb

[color]
  diff = auto
  interactive = auto
  ui = auto # covers diff = true, status = auto, branch = auto

[core]
  excludesfile = ~/.gitignore

[credential]
  helper = corpsso

[diff]
  tool = vimdiff

[help]
  autocorrect = 1

[push]
  default = simple

[user]
  email = ca.aawc@yahoo.com
  name = Varun Khaneja
[http]
	cookiefile = /usr/local/google/home/vakh/.gitcookies
